@model LocationDetail
@{
    ViewData["Title"] = "Detail";
}
<style>
    body {
        background-color: #584036;
    }

    .words {
        color: #E6D5A5;
    }

<<<<<<< HEAD
<p> @Model.Description</p>
<img src="~/images/@Model.Image_Path" alt="@Model.Name" />

<p>
    Located at:
=======
</style>

<h2 class="words">@Model.Name</h2>

<p class="words"> @Model.Description</p><br />
<img src="~/images/@Model.Image_Path" alt="@Model.Name"/>

<p class="words">Located at:
>>>>>>> 463faa12dba08199020582dfab4dde948fff062b
    @Model.Street
    @Model.City
    @Model.State
    @Model.Zip
</p>

<a asp-controller="home" asp-action="Directions" class="words">Need Directions?</a><br />

<a href="@Model.WebLink" class="words"> @Model.Name's Web Site </a><br />

<a href="@Model.FbLink" class="words"> @Model.Name's FaceBook </a><br />

<a href="@Model.TwLink" class="words"> @Model.Name's Twitter</a><br />

<a href="@Model.IgLink" class="words"> @Model.Name's Instagram </a><br />

<<<<<<< HEAD



<a href="@Model.WebLink"> @Model.Name's Web Site </a>

<a href="@Model.FbLink"> FaceBook </a>

<a href="@Model.TwLink"> Twitter</a>

<a href="@Model.IgLink"> Instagram </a>

=======
<a href="https://www.google.com/maps/search/?api=1&query=Google&query_place_id=@Model.Place_Id" class="words"> @Model.Name's Google Results </a>
>>>>>>> 463faa12dba08199020582dfab4dde948fff062b
